body {
  margin: 0;
  padding: 0;
  font-family: serif;
  background: linear-gradient(#141e30, #243b55);
}

html {
  height: 100%;
}

/* start heading */
h1 {
  margin-top: 2rem;
  text-align: center;
  color: #5fb49c;
  font-family: American Typewriter, serif;
}
/* end heading */

/* Start - Game Board */
.container-box {
  margin-top: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  height: 5.5rem;
  width: 5.5rem;
  margin: 0.5rem;
  background-color: #98dfaf;
  color: #243b55;
  border-radius: 8px;
  border: 0px solid transparent;
  box-shadow: 3px 0 12px -5px #ffffff;
  cursor: pointer;
  font-family: URW Chancery L, cursive;
  font-size: 4em;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
/* End - Game Board */

/* Start- player turn */
.turn > h1 {
  margin: 15px;
  padding: 0;
  font-size: 1.5rem;
}
/* End- player turn */

/* strat new game  */

.newgamebtn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.newgame {
  background: #243b55;
  border: 1px solid #5fb49c;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #5fb49c;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.newgame:hover{
  background-color: initial;
  background-position: 0 0;
  background-color: #5fb49c;
  color: #243b55;
}

.newgame:active {
  opacity: 0.5;
  background-color: initial;
  background-position: 0 0;
  background-color: #243b55;
  color: #5fb49c;
}

/* end new game */
